<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tic-Tac-Toe</title>
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Rock+Salt&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <header>
      <h3 id="gameboard-turn-indicator"></h3>
      <a href="../index.html">Return to Leaderboard</a>
      <br><br>
    </header>
    <main>
      <div id="gameboard-player-card-container"></div>
      <div id="game-board-container"></div>
      <br>
      <button id="end-turn-button" type="button" onclick="gameController.evaluateMarks()">End Turn</button>
    </main>
  </div>
  
  <script src="../models/game.js"></script>
  <script src="../scripts/users.js"></script>
  <script src="../scripts/game.js"></script>
  <script src="../scripts/header.js"></script>
</body>
</html>