<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tic-Tac-Toe</title>
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
  <header>
    <h1>gameBoard.html</h1>
    <a href="../index.html">Return to Leaderboard</a>
    <br><br>
  </header>
  <main>
    <div id="player-cards-container"></div>
    <div id="game-board-container"></div>
    <br>
    <button id="end-turn-button" type="button" onclick="gameController.setInitiative()">End Turn</button>
  </main>
  
  <script src="../controllers/game.js"></script>
</body>
</html>