<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tic-Tac-Toe: Create New User</title>
  <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
  
  <main>
    <a href="../index.html">View Leaderboard</a>
    <br><br>
    <div id="user-form-container"></div>
  </main>
  <script src="../models/user.js"></script>
  <script src="../controllers/userForms.js"></script>
  <script src="../controllers/encryption.js"></script>
  <script src="../controllers/users.js"></script>
  <script src="../controllers/login.js"></script>
</body>

</html>