* {
  text-align: center;
  font-family: "Rock Salt", cursive;
  color: white;
}

::-webkit-scrollbar {
  width: 15px;
  color: white;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 10px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 15px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.582);
}

html {
  background-color: rgb(58, 58, 58);
}

fieldset {
  margin-left: 15px;
  border: 3px solid white;
  border-radius: 15px;
}

button {
  background-color: transparent;
  border-color: white;
  border-radius: 15px;
  padding: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  font-size: 20px;
  padding-bottom: 5px;
}

input {
  margin-bottom: 5px;
  background: transparent;
  border: 3px solid white;
  border-radius: 15px;
}

header {
  padding: 0px;
  margin: 0;
}

#index-player-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px;
  margin: 0 auto;
}

#cell-1 {
  height: 100px;
  width: 100px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
}

#cell-2 {
  height: 100px;
  width: 100px;
  border-bottom: 3px solid white;
}

#cell-3 {
  height: 100px;
  width: 100px;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
}

#cell-4 {
  height: 100px;
  width: 100px;
  border-right: 3px solid white;
}

#cell-5 {
  height: 100px;
  width: 100px;
}

#cell-6 {
  height: 100px;
  width: 100px;
  border-left: 3px solid white;
}

#cell-7 {
  height: 100px;
  width: 100px;
  border-top: 3px solid white;
  border-right: 3px solid white;
}

#cell-8 {
  height: 100px;
  width: 100px;
  border-top: 3px solid white;
}

#cell-9 {
  height: 100px;
  width: 100px;
  border-top: 3px solid white;
  border-left: 3px solid white;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
}

.row {
  display: flex;
  height: 100px;
  width: 300px;
  margin: 0 auto;
}

.container {
  box-shadow: 0px 25px 50px black;
  display: inline-block;
  width: 400px;
  height: 625px;
  overflow: hidden;
  overflow-y: scroll;
  border: 3px solid white;
  border-radius: 15px;
  background: url("../images/chalkboard-texture.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
