* {
  text-align: center;
  font-family: arial, sans-serif;
}

ul {
  padding-inline-start: 0px;
}

li {
  list-style: none;
  font-size: 20px;
  padding-bottom: 5px;
}

input {
  margin-bottom: 5px;
}